.parent{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    align-items: center;
}
.child-2{
    display: flex;
    gap: 30px;
}

img{
    width: 25%;
}

.input-checkbox-toggler{
    display: none;
}
.ham-icon{
    display: none;
}

@media screen and (max-width:400px){
    *{
        box-sizing: border-box;
    }
    .parent{
        display: flex;
        position: relative;
        padding: 10px;
    }
    .child-2{
        position: absolute;
        display: none;
        gap: 10px;
        align-items: center;
        top: 70px;
        left: 0px;
        color: white;
        width: 100%;
        background-color: #444;
    }
    .ham-icon{
        display: block;
    }
  .input-checkbox-toggler:checked + .child-2{
     display:flex;
     flex-direction: column;
  }   
  .banner{
    width: 100vw;
  }
  .banner > img{
    width: 100%;
  }

  .framework{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .framework1{
    display: flex;
  }
  .framework-image{
    flex: 1 0 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .framework-image > p{
    font-size: 0.7rem;
  }
}

@media screen and (min-width:401px) and (max-width:768px){
    .parent{
        display: flex;
        position: relative;
        padding: 10px;
    }
    .child-2{
        position: absolute;
        display: none;
        gap: 10px;
        align-items: center;
        top: 70px;
        left: 0px;
        color: white;
        width: 100%;
        background-color: #444;
    }
    .ham-icon{
        display: block;
    }
    .ham-icon:hover{
        cursor: pointer;
    }
  .input-checkbox-toggler:checked + .child-2{
    
     display:flex;
     flex-direction: column;
  } 
}

.banner{
    width: 100vw;
}
.banner > img {
    width: 100%;
}
